.hero-container {
    height: 200vh; 
        justify-items: center;
    /* width: 100vw; */
}

.hero-img {
   position: absolute;
   width: 50vw;
   height: 100vh;
   top: 0;
   right: 0;
}

.hero-content {
   grid-column: 1/span 8;
   height: 100%;

   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 2vh;
}

.CTA-btn {
  background-color: var(--pink);
  width: 50%;
padding: 1vh;
border-radius: 12px;
display: flex;
justify-content: center;
color: var(--dark-purple);
margin-top: 3vh;

}


.CTA-btn {
   transition: background 0.4s ease, color 0.4s ease;
}


/* gradient hover */
.CTA-btn:hover {
  background: linear-gradient(
    45deg,
    var(--baby-blue),
    var(--purple),
    var(--pink)
  );
  background-size: 400% 400%;
  animation: gradientShift 4s ease infinite;
  color: var(--dark-purple);

}


@keyframes gradientShift {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.hero-content-wrapper {
   height: 100%;
   max-height: 100vh
   
}


#record-wrapper {
     position: absolute;
          top : 46%;
         right: 52.5%; 
    width: 110px;
   height: 110px;
}

@media (max-width: 767px) {

      .hero-img {
     position: absolute;
        width: 100vw;
        height: 30vh;
        bottom: 100%;
        top: 35%;
      }


         .hero-content {
            grid-column: 1/span 4;
            height: 100%;

            display: grid;
            justify-content: center;
        
                    height: 70vh;
                    max-height: 70vh;
                            grid-template-rows: 50px 20vh 15vh 1fr 1fr 50px;
         }


#record-wrapper {
     position:static;
     display: flex;
     justify-content: center;

       right: 0;
    grid-row: 3 / 3;
    justify-self: center;
    height: 15vh;
    width: 15vh;
}
         .subtitle-hero {
            font-size: 4vw;
            text-align: center;
            grid-row: 4 / 4;
         }


            .CTA-btn {
               font-size: 5vw;
            width: 80%;
            padding: 1vh;
            align-self: center;
            border-radius: 2px;
             grid-row: 5;
         justify-self: center;
         color: var(--dark-purple);
         border:none;

           background: linear-gradient(
    45deg,
    var(--baby-blue),
    var(--purple),
    var(--pink)
  );
  animation: gradientShift 4s ease infinite;

            }

            #title-h1 {
               grid-row: 2/ 3;
               text-align: center;
               display: flex;
               flex-direction: column;
               line-height: 100%;
   
            }

/* @media     desktop: "(min-width: 1024px)",
    tablet: "(min-width: 768px) and (max-width: 1023px)",
    mobile: "(max-width: 767px)" */
}