.gallery-container {
    min-height: 220vh;
}

#about-socks {
  position: 'relative';
  min-height: 200vh;;
  margin-top: -30vh;


}

.my-gallery {
grid-row-gap: 20rem !important;

grid-template-rows: repeat(6,1fr);
}


.my-gallery img:nth-child(1) {
  grid-column: 19 / span 6;
  grid-row: 1;
}

.my-gallery img:nth-child(2) {
  grid-column: 4 / span 5;
  grid-row: 2;
}

.my-gallery img:nth-child(3) {
  grid-column: 15 / span 5;
  grid-row: 3;
}

.my-gallery img:nth-child(4) {
  grid-column: 1 / span 5;
  grid-row: 4;
}

.my-gallery img:nth-child(5) {
  grid-column: 15 / span 7;
  grid-row: 5;

}


.my-gallery img:nth-child(6) {
  grid-column: 5 / span 5;
  grid-row: 6;
margin-top: -20%;
}



.galley-des {
  text-align: center;
  margin-bottom:30% ;
}

.benefits-content {
  height: 50vh;
  background-color: azure;
}



    .text-benefits  textPath {
          font-size: 12vw;
          font-family: manhattan;
          /* fill: var(--purple); */
          letter-spacing: 0.5rem;
          
        }


           /* Mobile (max-width: 767px) */
@media (max-width: 767px) {


      .text-benefits  textPath {
          font-size: 140px;
          /* fill: var(--purple); */
          letter-spacing: 0.3rem;
          
        }

.my-gallery {
grid-row-gap: 10rem !important;
}

/* scatter images across the 4 columns & rows */
.my-gallery img:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.my-gallery img:nth-child(2) {
  grid-column: 2 / span 2;  /* spans columns 2 & 3 */
  grid-row: 2;
}

.my-gallery img:nth-child(3) {
  grid-column: 4 / span 1;
  grid-row: 3;
}

.my-gallery img:nth-child(4) {
  grid-column: 1 / span 2;
  grid-row: 4;
}

.my-gallery img:nth-child(5) {
  grid-column: 3 / span 2;
  grid-row: 5;
}

.my-gallery img:nth-child(6) {
  grid-column: 2 / span 2;
  grid-row: 6;
}

}


/* Tablet (max 1023px) */
@media (max-width: 1023px) {

}

